.bg-transparent {
    background-color: transparent;
}

.h-60 {
    max-width: 100%;
    max-height: 80%;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

@media (max-width: 575px) {
    .cabold700 {
        text-align: center;
    }
    .image-principal {
        width: 100%;
    }
    .presentacion {
        display: none;
    }
}